.svg-icon {
  display: flex;
  background-repeat: no-repeat;

  &--small {
    @extend .svg-icon;
    width: 20px;
    height: 20px;
  }

  &--medium {
    @extend .svg-icon;
    width: 25px;
    height: 25px;
  }

  &--big {
    @extend .svg-icon;
    width: 52px;
    height: 51px;
  }
}

.certificate {
  background-image: url("../../img/certificate.svg");
}

.free {
  background-image: url("../../img/calendar.svg");
}

.calendar {
  background-image: url("../../img/free.svg");
}

.arrow {
  background-image: url("../../img/arrow.svg");
  display: inline-flex;
}

.audio {
  background-image: url("../../img/audio.svg");
}

.audio-mute {
  background-image: url("../../img/audio-mute.svg");
}

.audio-white {
  background-image: url("../../img/audio-white.svg");
}

.audio-mute-white {
  background-image: url("../../img/audio-mute-white.svg");
}

.icon-university {
  background-image: url("../../img/university.svg");
  width: 66px;
  height: 20px;
}
